

body {
    background-color: #f6f6ff;
    line-height: 1.2;
    touch-action: manipulation;
}

p {
    margin: 0px;
    padding: 0px;
}

.Peopleinroom {
    background-color: #eee;
    border-radius: 12px;
    align-items: center;
    width: 18rem;
    margin-bottom: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: auto;
    margin-left: auto;
}


.Peopleinroomtext {
    font-size: 1.05rem;
    text-align: center;    
    color: #444444;
}

.Roomtitle {
    font-size: 1.65rem;
    margin-bottom: 4px;
    text-align: center;
}

.Copytoclipboard{
    text-align: center;
    background-color: #eee;
    border-radius: 12px;
    align-items: center;
    width: 10rem;
    margin-bottom: 8px;
    padding-bottom: 6px;
    padding-top: 6px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1rem;
}

.Availabledate {
    margin-bottom: 4px;
    text-align: left;
    font-size: 1.1rem; 
}

.Usercard {
    padding-top: 6px;
    background-color: rgb(225, 240, 255);
    border-radius: 28px; 
    padding-bottom: 12px; 
    margin-bottom: 6px;
}

.Card {
    padding-top: 6px;
    background-color: rgb(245, 220, 220); 
    border-radius: 28px; 
    padding-bottom: 12px; 
    margin-bottom: 6px;
}

.Username {
    text-align: center; 
    font-size: 1.75rem; 
}

.Datecard {
    padding-left: 3vw;
    padding-bottom: 8px;
    padding-top: 6px;
    justify-content: space-evenly;
}

.Bottomborder{
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

.Datecardrow {
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}

.Datecardcol {
    text-align: center;
    margin-bottom: 1.5vh;
}

.Datetext {
    font-size: 1rem; 
    margin-right: 6px;
}

.Form {
    margin: 0 auto;
    text-align: center
}

.Intersectionlist {
    background-color: rgb(220, 245, 220);
    border-radius: 24px;
    margin-bottom: 6px;
    padding-bottom: 18px;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
}

.Intersectiontext {
    display: list-item;
    margin-bottom: 2px;
    text-align: left;
    font-size: 1rem; 
    color: #222;
}

.Intersectionhelptext {
    margin-bottom: 4px;
    text-align: left;
    font-size: 1.1rem; 
}


.Joinroombutton {
    margin-bottom: 16px;
    margin-top: 12px;
}

.Helptextcontainer{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.Helptext{
    margin-bottom: 12px;
    text-indent: 1.5rem;
    font-size: 1.2rem;
}